# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/crash.log

# Node.js (frontend)
cloud-log-viz/node_modules
cloud-log-viz/dist
cloud-log-viz/.env.local
cloud-log-viz/.env.development.local
cloud-log-viz/.env.test.local
cloud-log-viz/.env.production.local
cloud-log-viz/.env

# Python (Lambda)
__pycache__/
*.pyc

